.card {
  justify-content: center;
  align-items: center;
  max-width: 300px;
  position: absolute;
  top: 25%;
  left: 20%;
  background: none;
}
.card .text {
  width: 100%;
  color: red;
  font-size: 24px;
}
