html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(http://st.gde-fon.com/wallpapers_original/73987_zerkalnyj_cherep_chyornyj_fon_1600x1200_www.Gde-Fon.com.jpg);
  background-size: cover;
}
